# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.gradle/
/build/
/core-support/build/
/core/build/
/desktop/build/
/android/build/
/android/jniLibs/*/*.so
/ios/build/
*.iml
/*/*.iml
/PlayerProgress_v1.save
